<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    Test page
</head>

<body>

<p>{{ data.getText() }}</p>

<br>

<form method="post">
    <input type="submit" name="redirect" value="Redirect to other test">
</form>

</body>

</html>